body {
  margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;

  padding: 14px 40px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #51237f;

}

ul.topnav li a:hover:not(.active) {
  background-color: rgba(17, 17, 17, 0.397);
  color: white;
}

ul.topnav li a.active {
  background-color: #51237f;
  color: white;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.container {

  text-align: center;
}



.module {
  width: 80%;
  background: white;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #51237f;
  color: black !important;
  transition: color 0.3s, background-color 0.3s;
  margin: 0 auto;
  margin-top: 10px;
}

.module:hover {
  background: #ccc;
  color: #51237f;
}

.module:active {
  box-shadow: 0px 0px 50px gray;
  -webkit-transform: scale(1.05);
  -webkit-transform-origin: -100px 100%;
  -webkit-transform: rotate(-1deg);
  margin-right: auto;
  margin-left: auto;
}


.next-btn {
  background-color: #51237f;
  border-radius: 25px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  color: white;


}

.next-btn:hover {
  background-color: white;
  color: #51237f;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.wrapper {
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;


}

#question-container {
  border: 1px black;

}

.question {
  font-size: 24px;
}

@import 'https://fonts.googleapis.com/css?family=Quicksand';

@media screen and (max-width: 400px) {
  .tab_div {
    display: none;
  }
}

body {
  /*   gradient background */
  /*   background: linear-gradient(135deg, black 0%, white 100%) fixed; */
  background: #17171e;
}

.tab_div {
  width: 100%;
  transform: translateZ(0);
}

.tabs_menu {
  /*   background-color:blue; */
  padding-top: 1%;
  width: 20%;
  float: left;
}

ul.tabs {
  padding: 0;
}

#quiz_tab,
#candidate_info_tab {
  padding-top: 10%;
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

ul.tabs li {
  list-style-type: none;
  font-family: Quicksand;
  border-right: 2px solid white;
  font-size: 18px;
  color: white;
  /*   transition: background-color 0.2s ease; */
}


/* ul.tabs li:hover {
  border-right: 2px solid #e1386c;
  background-color: rgba( 255, 155, 180, .9);
  font-weight: bold;
} */

#tab1_content,
#tab2_content {
  /*   background-color:red; */
  float: right;
  width: 70%;
  height: auto;
  padding-top: 5%;
}

p {
  font-family: Quicksand;
  font-size: 16px;
  color: black;
}


/* hover effect */

ul.tabs li {
  display: inline-block;
  position: relative;
  padding: 1em;
  cursor: pointer;
  background: #17171e;
  color: white;
  z-index: 0;
}

ul.tabs li:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #51237f;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}

ul.tabs li:hover:before {
  transform: scaleX(1);
}

/* ribbon */


.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#B6BAC9 0%, #808080 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
slider{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;

}

slider> *{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1){
  left: 0;
  animation-delay: -1s;
  background-image:url(https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg);
  background-size: cover;
  background-position: center;

}
slide:nth-child(2){
  animation-delay: 5s;
  background-image:url(https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg);
  background-size: cover;
  background-position: center;

}
slide:nth-child(3){
  animation-delay: 11s;
  background-image:url(https://images.pexels.com/photos/39317/chihuahua-dog-puppy-cute-39317.jpeg);
  background-size: cover;
  background-position: center;

}
slide:nth-child(4){
  animation-delay: 17s;
  background-image:url(https://images.pexels.com/photos/8700/wall-animal-dog-pet.jpg);
  background-size: cover;
  background-position: center;

}
slide p{
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #fff;

}
@keyframes slide{
  0%{ left: 100%; width: 100%;}
  5%{ left: 0%;}
  25%{ left: 0%;}
  30%{ left: -100%; width: 100%;}
  30.0001%{ left: -100%; width: 0%;}
  100%{ left: 100%; width: 0%;}
}