body {
  margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #51237f;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 800px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px;
  width: 360px;
  height: 660px;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}

.avatar {
  background: #222;
  width: 340px;
  height: 640px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: auto 160% !important;
  background-position: center;
  background-repeat: no-repeat;
}

.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}

.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

.container {
  margin: 0 auto;
  position: center;
  border: 1px black;
}

/*  */


.module {
  width: 320px;
  background: white;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  border: 1px solid #51237f;
  color: black;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;



}

.module:hover {
  background: #ccc;
  color: #51237f;
}

.module:active {
  box-shadow: 0px 0px 50px gray;
  -webkit-transform: scale(1.05);
  -webkit-transform-origin: -100px 100%;
  -webkit-transform: rotate(-3deg);
    margin-right: auto;
    margin-left: auto;
}

/*STYLING FOR NOTES SECTION*/
.notes {
  display: none;
  width: 100%;
  background: silver;
  padding: 1em 5em;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.75em;
  margin: 0 auto;
}

.notes header {
  font-weight: bold;
  font-size: 1em;
}

.notes ul {
  padding: 0;
  display: -webkit-flex;
  align-items: flex-start;
}

.notes li {
  display: inline-block;
  min-width: 200px;
  max-width: 300px;
  list-style: none;
}

.notes li:nth-child(2) {
  color: #7d7d7d;
  padding: 0 1em;
}

.notes span {
  font-family: courier, monospaced;
  font-weight: bold;
  display: block;
}

.notes span:hover {
  background: gray;
  z-index: 300;
  content: "#wrapper";
  position: relative;
}
.button1 {
  background-color: #51237f;
  border-radius: 25px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-right: auto;
  margin-left: auto;

}
.button1:hover {
  background-color: white;
  color:  #51237f;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.wrapper {
    position: center;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;

}
.question-container{
    margin-right: auto;
    margin-left: auto;

    border: 1px black;

}
.question{
    font-size: 24px;
}

