#resultContainer { text-align: center; margin: 20px; }
h2 { font-family: Arial, Helvetica, sans-serif;  }

.bar-main-container {
  margin: 10px auto;
  width: 500px;
  height: 100px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
}

.wrap { padding: 8px; }

.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.13);
  padding: 30px 0px;
  width: 10%;
  height: 18%;
}

.bar-img {
  float: left;
  width: 100px ;
  height: 100px ;
  margin-right: 2px;
}

.names{
  font-size: 14px;
  padding:2%;
  float: left;
  padding-left:5%;
  
}
.bar-container {
  float: right;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 60%;
  margin: 12px 10px; 
  overflow: hidden;
}

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* COLORS */
.azure   { background: #FF5E3A ; }
.emerald { background: #666666 ; }
.violet  { background: #28A689 ; }
.yellow  { background: #6E4D94; }
.red     { background: #0E8AD9; }